#about-link{
	padding-top:20px;
	background-color: #2D2E2F;
	border-top:1px solid #3c3c3d;
	border-bottom: 1px solid #323334;
}

.about-link-block{
	padding-right:50px;
	float: left;
}

footer{
	padding-top:10px;
	background-color: #2d2e2f;
}

.header-title{
	font-size: 18px;
	color: #fcfcfc;
}

.footer-ul{
	list-style-type: none;
	padding-left:20px;
}

.link-text-muted, .link-text-muted:active, .link-text-muted:focus,.link-text-muted:hover{
	color: #777;
	text-decoration:none;"
}

#qrcode-image{
	width:80%;
	padding:10px;
}

@media(max-width:768px) {
	#about-link{
		display:none;
	}
}