.team-member{
	margin-top: 5px;
	margin-bottom: 0px;
	text-align: right;
}

.team-member > ul >li{
	text-align: center;
}

.sessionNumber{
	font-size: 14px;
	vertical-align: super;
}

.team-member-data{
	margin:15px 0;
}