header{
	background-color:#000;
	background-image:url(../img/bg.png);
}

.timeline-body >.text-muted{
	text-align: justify;
	text-justify:inter-ideograph;
}

#about p{
	text-indent: 2em;
	padding: 0px;
	margin: 0px;
	font-size: 16px;
}

header, section{
	min-height:100%;
}