body {
    padding-top: 100px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

nav.main_menu{
	background-color:#000;
}

.dropdown{
	width:100px;
}

#productslist-filter{
	margin: 0 10px;
	padding: 20px 0;
	border-radius: 4px;
	border:1px solid #5f9ea0;
}

#btn-block{
	margin: 20px 0;
}

.sweet-alert p{
	text-align:left;
}