body {
    padding-top: 120px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

nav.main_menu{
	background-color:#000;
}

#main-container{
	margin-bottom:90px;
}

.thumbnail{
	padding:19px;
}

.list-group-item{
	padding: 0;
}

.list-group-item a{
	color: #000;
}

.section{
	padding-top:90px;
	margin-bottom: -90px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
	background-color: #eee;
}
