html, body{
	width: 100%;
	height: 100%;
}

div#topbar_logo > img{
	width:50px;margin-top:-15px;
}

.bold{
	font-weight: bold;
}

hr.hr2{
	border:0; 
	height:1px; 
	background-color:#d4d4d4;
}