body {
    padding-top: 100px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

nav.main_menu{
	background-color:#000;
}

.dropdown{
	width:100px;
}


label.sessionNumber{
	font-size: 20px;
	vertical-align: super;
}