@CHARSET "UTF-8";

#settingBtn{
	width:100%; 
	display: inline-block;
}

.input-group{
	width:100%;
}

.input-group .input-group-addon{
	width:120px;
}

.input-group .form-control{
	width:100%; height:auto;
}